:root {
  /* BACKGROUND */
  --bg-main: #0c0a09;        /* stone-950 */
  --bg-section: #141210;

  /* TEXT */
  --text-primary: #f5f5f4;
  --text-muted: #a8a29e;

  /* UI */
  --border-soft: rgba(255, 255, 255, 0.08);
  --accent: #f59e0b;

  /* NAVBAR */
  --navbar-height: 72px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}

body {
  font-family: var(--font-primary), system-ui, sans-serif;
  background: var(--bg-main);
  color: var(--text-primary);
  padding-top: var(--navbar-height);
  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}